<html data-ng-app="gpsApp">
<head>
<title>SiteGPS</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body data-ng-controller="gpsCtrl">
	<script
		src="script/angular.min.js"></script>
	<script src="script/controller.js"></script>
	<!-- <script src="script/xml2json.min.js"></script>
	<script src="script/angular-xml.min.js"></script>
	<script src="script/angular-xml.js"></script>
 -->
	<div data-ng-show="isTabOne" class="aside tabOneBg"></div>
	<div data-ng-show="isTabTwo" class="aside tabTwoBg"></div>
	<div data-ng-show="isTabThree" class="aside tabThreeBg"></div>
	<div data-ng-show="isTabFour" class="aside tabFourBg"></div>
	<div class="main">
		<div id="header">
			<!-- <h1 style="color: blue"">ROOKIE'S PLACE</h1> -->
		</div>

		<div id="nav">
			<ul class="navBar">
				<li data-ng-click="switchToTabOne()"><span data-ng-show="isTabOne"
					class="on">{{data.tabs[0]}}</span><a data-ng-show="!isTabOne">{{data.tabs[0]}}</a></li>
				<li data-ng-click="switchToTabTwo()"><span
					data-ng-show="isTabTwo" class="on">{{data.tabs[1]}}</span><a
					data-ng-show="!isTabTwo">{{data.tabs[1]}}</a></li>
				<li data-ng-click="switchToTabThree()"><span
					data-ng-show="isTabThree" class="on">{{data.tabs[2]}}</span><a
					data-ng-show="!isTabThree">{{data.tabs[2]}}</a></li>
				<li data-ng-click="switchToTabFour()"><span
					data-ng-show="isTabFour" class="on">{{data.tabs[3]}}</span><a
					data-ng-show="!isTabFour">{{data.tabs[3]}}</a></li>

			</ul>
			<div class="cate-bar">
				<span id="cate-bar"></span>
			</div>

		</div>

		<div id="section">
			<div data-ng-show="isTabOne">

				<div class="subsection">
					<!-- <h3 id="subsection">{{data.sectionHeaders[0]}}</h3> -->
					<ul>
						<li data-ng-repeat="item in data.frequents" class="record"><a href={{item.url}}
						target="_blank">{{item.name}}</a></li>
					</ul>
                </div>
                
			</div>

			<div data-ng-show="isTabTwo">
				<div class="subsection">
					<!-- <h3 id="subsection">{{data.sectionHeaders[0]}}</h3> -->
					<ul>
						<li data-ng-repeat="item in data.utilities" class="record"><a href={{item.url}}
						target="_blank">{{item.name}}</a></li>
					</ul>
                </div>
			</div>
			<div data-ng-show="isTabThree">
				<div class="subsection">
					<!-- <h3 id="subsection">{{data.sectionHeaders[0]}}</h3> -->
					<ul>
						<li data-ng-repeat="item in data.banks" class="record"><a href={{item.url}}
						target="_blank">{{item.name}}</a></li>
					</ul>
                </div>
			</div>
			<div data-ng-show="isTabFour">
				<div class="subsection">
					<!-- <h3 id="subsection">{{data.sectionHeaders[0]}}</h3> -->
					<ul>
						<li data-ng-repeat="item in data.others" class="record"><a href={{item.url}}
						target="_blank">{{item.name}}</a></li>
					</ul>
                </div>
			</div>
		</div>

		<!-- <div id="footer">2016 Copyright © YUHUAI WU</div> -->

	</div>

</body>

</html>
